.endava-orange {
    background-color: #f38f1d !important;
}
#mobile-logo {
width: 50%;
    float: right;
    margin-top: .3em;
}
footer.page-footer {
    padding-top:0;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    margin-bottom:0;
}
.input-field {
    margin-top:0;
}

nav ul a,
footer.page-footer *
 {
    color: #1a237e;
}


footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.input-field label[for="descript"] {
    left: 1.75rem;
}

.materialize-textarea.tweet-body {
    border: 1px solid #2196F3;
    padding: 1em;
    border-radius: 2px;
}

textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: none;
    border-bottom: 1px solid #2196F3;
}

button[id="tweetMessage"],
button[id="updateMessage"]
 {
    margin: 5px 20px;
}

footer.page-footer {
    position: fixed;
    bottom: 0px;
    z-index: 2;
}

.input-field label.active {
    color: #2196F3 !important;
    top: .5rem;
}